
rbo/.DS_Store
*.csv
rbo/loop/segment/segment
hopping/hopping
rbo/loop/segment/segment
cmumocap/.DS_Store
.DS_Store
*.avi
*.csv
*.txt
*.mpg
*.mov
*.mp4
*.c3d
*.sh
cmumocap/cmumocap
rbo/loop/loop
sfi/selenium-server-standalone-3.8.1.jar
sfi/geckodriver
sfi/logins
firefox-nightly
bin
sfi